html {
    height: 100%;
}

body {
    display: flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: inherit;
    background-color: white;
    visibility: hidden;
}

#phone {
    width: 314px;
    height: 565px;
    padding: 62px 0 0 26px;
    background-image: url("Images/phone.png");
}

#screen {
    width: 288px;
    height: 480px;
    position: relative;
    overflow: hidden;
    background-color: #1d1d1d;
}

#pivot .win-pivot-navbutton {
    display: none;
}

#pivot .win-pivot-item-content {
    padding: 0 16px;
    width: calc(100% - 32px);
}

#pivot .win-pivot-item-content > * {
    margin-bottom: 16px;
}

.win-searchbox {
    width: auto;
}

.task {
    height: 50px;
    display: flexbox;
    display: flex;
    align-items: center;
}

.label {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    margin: 0 16px 0 8px;
    background-color: #02a45f;
}

/*.label:active {
    background-image: url("Images/x.png");
    border-radius: 0;
}*/

input[type="text"] {
    margin: 0 0 16px;
    width: calc(100% - 20px);
}

label {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 8px;
}

#notification {
    width: calc(100% - 8px);
    height: 50px;
    background-color: #4617b4;
    position: absolute;
    z-index: 1;
    top: -52px;
    left: 0;
    line-height: 50px;
    padding-left: 8px;
}

#notification.visible {
    -webkit-animation: show 0.2s 0 forwards, hide 0.2s 0.7s forwards;
}
